<div class="signin">
  <h1>Sign In</h1>

  <div class="signin__form">
    <%= render 'shared/card', elevation: 2 do %>
      <%= render 'form' %>
    <% end %>
  </div>

  <div class="signin__footer">
    <%= link_to 'Don’t have an account?', signup_path %>
  </div>
</div>