<div class="<%= bem_class('card', "card--elevation-#{local_assigns[:elevation]}": local_assigns[:elevation], 'card--interactive': local_assigns[:interactive], 'card--transparent': local_assigns[:transparent], 'card--justify': local_assigns[:justify]) %>">
  <%= yield %>
</div>