<div class="hr">
  <hr class="hr__line">

  <% if local_assigns[:heading].present? %>
    <div class="hr__heading">
      <%= local_assigns[:heading] %>
    </div>
  <% end %>

  <hr class="hr__line">
</div>