.notice-actions {
  padding: 10px 5px;
  background: color(white a(0.95));
  border-radius: 5px;
  background: #5aac44;
  display: flex;
}

.notice-actions__action {
  font-size: 12px;
  margin: 0 5px;
  border: 0;
  display: flex;
  color: white;

  &:hover {
    color: color(white a(0.8));
  }
}

.notice-actions__action > svg {
  width: 16px;
  height: 16px;
}