.release-post__name {
  align-items: center;
  display: inline-flex;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
  min-height: 30px;
  position: relative;
}

.release-post__body {
  line-height: 20px;
  font-size: 14px;
}

.release-post__actions {
  display: none;
  position: absolute;
  right: -110px;
  padding: 30px 30px 30px 80px;
}

.release-post__name:hover .release-post__actions {
  display: flex;
}
