<div class="release-line">
  <% if local_assigns.has_key? :anchor_url %>
    <%= link_to anchor_url, class: "release-line__anchor"  do %>
      <i data-feather="link"></i>
    <% end %>
  <% end %>
</div>