<%= link_to project, class: 'project-card' do %>
  <%= render 'shared/card', elevation: 1, interactive: true do %>
    <div class="project-card__name">
      <%= project.name %>
    </div>
  <% end %>
<% end %>
