<div class="release-actions">
  <%= link_to release, remote: true, class: 'release-actions__action' do %>
    <i data-feather="edit"></i>
  <% end %>

  <%= link_to release, remote: true, method: :delete, class: 'release-actions__action' do %>
    <i data-feather="trash-2"></i>
  <% end %>
</div>