.release {
  display: grid;
  grid-template-columns: 150px min-content minmax(400px, auto);
  grid-template-areas:
    "date bullet header"
    ".    line   content";
}

.release__date {
  grid-area: date;
  display: flex;
  align-items: center;
  color: #aa9c84;
  font-size: 12px;
  justify-content: flex-end;
}

.release__anchor {
  grid-area: bullet;
  display: flex;
  justify-content: center;
}

.release__line {
  grid-area: line;
  display: flex;
  justify-content: center;
}

.release__header {
  grid-area: header;
}

.release__name {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  line-height: 26px;
  margin: 0;
}

.release__content {
  grid-area: content;
  padding: 10px 0;
  line-height: 20px;
}

.release__actions {
  display: none;
  position: absolute;
  right: -80px;
}

.release__header:hover .release__actions {
  display: flex;
}
