<h1>Projects</h1>

<div class="project-cards">
  <% @projects.each do |project| %>
    <div class="project-cards__card">
      <%= render 'project-card', project: project %>
    </div>
  <% end %>

  <div class="project-cards__card">
      <%= render 'new_project_card' %>
  </div>
</div>

