<h1>
  <% if @projects.empty? %>
    Create your first project!
  <% else %>
    New Project
  <% end %>
</h1>

<%= render 'form', project: @project %>

<% if @projects.any? %>
  <%= link_to 'Back', projects_path %>
<% end %>