<div class="new-project">
  <h1>
    <% if @projects.empty? %>
      Create your first project! 🚀
    <% else %>
      New Project
    <% end %>
  </h1>

  <div class="signup__form">
    <%= render 'shared/card', elevation: 2 do %>
      <%= render 'form', project: @project %>
    <% end %>
  </div>

  <div class="signup__footer">
    <% if @projects.any? %>
      <%= link_to 'Back to projects', projects_path %>
    <% end %>
  </div>
</div>

