<h1>
  <%= @project.name %>
</h1>

<div class="releases">
  <% @releases.each do |release| %>
    <div class="releases__release">
      <%= render 'release', release: release %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', projects_path %>
