.application-header {
  background: #24292e;
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.application-header__user {
  margin-left: auto;
  color: rgba(white, 0.8);

  a {
    color: rgba(white, 0.8);
    border-bottom-color: rgba(white, 0.8);

    &:hover {
      background: transparent;
      color: white;
      border-bottom-color: white;
    }
  }
}