* {
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
  margin: 0 0 20px;
  padding: 0;
  line-height: 40px;
  font-size: 36px;
  color: #283c46;
}

h2 {
  font-weight: 500;
  margin: 0 0 15px;
  padding: 0;
  line-height: 32px;
  font-size: 28px;
}

h3 {
  font-weight: 500;
  margin: 0 0 10px;
  padding: 0;
  line-height: 24px;
  font-size: 20px;
}

a img {
  border: none;
}

a {
  color: #1b6ac9;
  text-decoration: none;
  border-bottom: 1px solid #1b6ac9;

  &:visited {
    color: #1b6ac9;
  }

  &:hover {
    color: #1b6ac9;
  }
}

.text--large {
  font-size: 16px;
}
