.flash {
  padding: 5px 10px;
  margin: 10px 0;
  display: inline-flex;
}

.flash--notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash--error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.flash--alert {
  background-color: #FCC;
  border: solid 1px #C66;
}