.project-card {
  display: inline-flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-radius: 5px;
  align-items: flex-start;
  justify-content: space-between;
  width: 200px;
  height: 120px;
  border: 0;
  box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 1px 1px rgba(16,22,26,.2), 0 2px 6px rgba(16,22,26,.2);
  transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9),-webkit-transform .2s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .2s cubic-bezier(.4,1,.75,.9);

  &:hover {
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 2px 4px rgba(16,22,26,.2), 0 8px 24px rgba(16,22,26,.2);
  }
}

.project-card__heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #1d2d35;
}

.project-card--new {
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.05);
  background: transparent;
  color: #5aac44;
}

.project-card__plus {
  color: #5aac44;
  width: 24px;
  height: 24px;
}

.project-card__new {
  color: #5aac44;
  margin-top: 10px;
}